.btn {
    height: 30px;
    width: 80px;
    border-radius: 30%;
    background: rgb(86, 154, 185);
    color:white;
}
.circle{
    height: 40px;
    width: 40px;
    background:rgb(58, 69, 218) ;
    border-radius:50%;
}
.box{
    height: 40px;
    width: 40px;
    background:red ;
}